<div class="form-container">
  <h2 class="form-title">Change Your Password</h2>
  <form [formGroup]="passwordForm" (ngSubmit)="onChangePassword()">
    <div class="form-group">
      <label for="oldPassword">Old Password</label>
      <input type="password" id="oldPassword" formControlName="oldPassword" required>
    </div>
    <div class="form-group">
      <label for="newPassword">New Password</label>
      <input type="password" id="newPassword" formControlName="newPassword" required>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm New Password</label>
      <input type="password" id="confirmPassword" formControlName="confirmPassword" required>
    </div>
    <button type="submit" class="btn btn-primary" >Update Password</button>
  </form>
  @if(message){
  <p [ngClass]="isError ? 'error-message' : 'success-message'">{{ message }}</p>
  }

</div>